body {
  margin: 12%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(47, 62, 143));
  font-family: sans-serif;
  color: #fff;
  overflow: hidden;
}

.humidity,
.wind {
  justify-content: center;
  align-items: center;
}

.icon-humidity {
  width: 32px;
  height: 32px;
}

.temperature {
  height: 50vh;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 950%;
  margin-left: 50%;
  cursor: pointer;
}

.symbol {
  height: 40vh;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30%;
  font-size: 250%;
}

.timezone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 210%;
  padding-top: 5%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  padding-top: 5%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.icon-image {
  width: 64px;
  height: 64px;
}

.footer {
  display: flex;
  align-items: center;
}
