/* Common for X-Small Screen Sizes */

body {
  margin: 10%;
  padding: 2%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(47, 62, 143));
  font-family: sans-serif;
  color: #fff;
  overflow: hidden;
}

#wind,
#humid {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 70%;
}

.humidity,
.wind {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  font-size: 70%;
}

.temperature {
  display: flex;
  height: 100%;
  width: 50%;
  font-size: 650%;
  margin-left: 45%;
  margin-top: 60%;
  cursor: pointer;
}

.symbol {
  height: 70%;
  width: 20%;
  display: flex;
  margin-left: 40%;
  margin-top: 80%;
  font-size: 270%;
}

.timezone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 210%;
  padding-top: 10%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  padding-top: 5%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.icon-image {
  width: 64px;
  height: 64px;
}

/* Media Query for Small Screens */
/* *************************** */
@media all and (min-width: 360px) {
  #wind,
  #humid {
    justify-content: flex-end;
    font-size: 90%;
  }

  .humidity,
  .wind {
    justify-content: flex-end;
    font-size: 90%;
  }

  .temperature {
    font-size: 850%;
    margin-left: 50%;
  }

  .symbol {
    margin-left: 55%;
  }
}

/* Media Query for Small Screens */
/* *************************** */
@media all and (min-width: 500px) {
  #wind,
  #humid {
    justify-content: flex-end;
    font-size: 95%;
  }

  .humidity,
  .wind {
    justify-content: flex-end;
    font-size: 95%;
  }

  .temperature {
    font-size: 900%;
    margin-left: 60%;
  }

  .symbol {
    margin-left: 40%;
  }

  .timezone {
    padding-top: 3%;
  }
}

/* Media Query for Small Screens */
/* *************************** */
@media all and (min-width: 650px) {
  #wind,
  #humid {
    justify-content: flex-end;
    font-size: 95%;
  }

  .humidity,
  .wind {
    justify-content: flex-end;
    font-size: 95%;
  }

  .temperature {
    font-size: 900%;
    margin-left: 70%;
  }

  .symbol {
    margin-left: 30%;
    margin-top: 72%;
  }

  .timezone {
    padding-top: 5%;
  }
}
