*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  /*background: linear-gradient(to right, #00aaff, #063b5d);*/
  overflow: hidden;
}

.calculator-grid {
  display: grid;
  justify-content: normal;
  align-content: start;
  margin: 2%;
  padding: 0%;
  min-height: 100vh;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(120px, auto) repeat(5, 75px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #000;
  outline: none;
  color: #000;
  background-color: #dfdfdf;
}

#btn-white {
  background-color: #fff;
}

#btn-divide {
  color: #fff;
  background-color: #733a8e;
}

#btn-multiple {
  color: #fff;
  background-color: #fea027;
}

#btn-plus {
  color: #fff;
  background-color: #00a5e1;
}

#btn-minus {
  color: #fff;
  background-color: #e34347;
}

#btn-equal {
  color: #fff;
  background-color: #3ac631;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #000;
  border: 10px solid #000;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: #fff;
  font-size: 2.5rem;
}
